

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
    color: #fff;
    position: relative;
}
.conatiner{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.clock{
    height: 100%;
    width: 100%;
    background-color: rgba(235, 0, 235, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}
.conatiner::before{
    content: '';
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 5px; 
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}
.conatiner::after{
    content: '';
    width: 180px;
    height: 180px;
    background: #419aff;
    border-radius: 50%; 
    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1;
}
.clock span{
    font-size: 90px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
   
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

}
#hrs::after{
    content: 'Hours';
}

#min::after{
    content: 'Minitus';
}

#sec::after{
    content: 'Seconds';
}
#ampm{
    font-size: 50px;
    color: rgba(243, 243, 243, );
}

/* Common styles for both light and dark modes */
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Light mode */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

/* Dark mode */
body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}


